.container {
  /* border: 1px solid black; */
  display: flex;
  width: 1000px;
  height: 100%;
  justify-content: center; /* Alinea las tarjetas horizontalmente en el centro */
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
  margin: 0 auto;
}
