/* Main container */
.mainContainer {
  border: 1px solid #f50057;
  background-color: rgb(180, 162, 162);
  width: 25%;
  height: 100%;
  margin: 0 auto;
  margin-bottom: 80px;
  margin-top: 80px;
}

/* Slider container */
.sliderContainer {
  position: relative;
  height: 100%;
}

.nameImage {
  height: 100%;
}

.containerImages {
  display: flex;
  overflow: hidden; /* Agrega overflow: hidden para recortar las imágenes */
  transition: transform 5s ease-in-out; /* Agrega una transición suave */
}

.containerImages ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  width: fit-content; /* Establece el ancho del contenedor de imágenes */
  margin: 0 auto; /* Centra el contenedor horizontalmente */
}

.containerImages ul li {
  flex: 0 0 100%; /* Utiliza 100% para que las imágenes ocupen el ancho completo del contenedor */
}

/* Arrows */
.leftArrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 32px;
  font-size: 50px;
  font-weight: 700;
  color: #fff;
  z-index: 1;
  cursor: pointer;
}

.rightArrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 32px;
  font-size: 50px;
  font-weight: 700;
  color: #fff;
  z-index: 1;
  cursor: pointer;
}

/* dots carrusel */
.dotsContainer {
  background-color: rgb(180, 162, 162);

  margin-top: 5px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  gap: 5px;
}

.dotContainerItem {
  cursor: pointer;
  font-size: 10px;
  text-align: center;
}

div.active {
  background-color: #f50056;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  cursor: pointer;
  margin-bottom: 5px;
}

div.disable {
  background-color: #f5005646;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  cursor: pointer;
  margin-bottom: 5px;
}
