.container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.map {
  width: 600px;
  height: 250px;
}

.contacto {
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
}

.medios {
  font-family: "Times New Roman", Times, serif;
}

.icons {
  width: 20px;
  padding: 5px;
}

.info {
  display: flex;
  justify-content: flex-start;
  margin-top: -25px;
}

.fakes {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.redesIcon {
  display: flex;
  justify-content: flex-start;
  margin-left: 20%;
  gap: 15px;
}

.redesIconTam {
  width: 30px;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .map {
    width: 400px;
    height: 150px;
  }
}

@media screen and (max-width: 600px) {
  .map {
    width: 300px;
    height: 150px;
  }
}

@media screen and (max-width: 500px) {
  .map {
    width: 300px;
    height: 150px;
  }

  .fakes {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    flex-direction: column;
  }
}

@media screen and (max-width: 320px) {
  .contacto {
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
  }

  .map {
    width: 250px;
    height: 150px;
  }

  .fakes {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    flex-direction: column;
  }
}
