.card {
  margin-bottom: 20px;
  border: 1px solid #f50057;
  width: 220px;
  height: 300px;
  /* border-radius: 8px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.336);
}

.tama単oimg {
  /* border-top: 1px solid black; */
  border-bottom: 1px solid gray;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.603);
  display: inline-block;
  background-color: white;
  height: 230px;
  width: 100%;
}

.card h3 {
  margin: 0;
  padding: 0;
  margin-left: 5px;
  height: 25px;
  font-size: 12px;
}

.card p {
  margin: 0;
  padding: 0;
  margin-left: 5px;
  margin-top: 5px;
  height: 25px;
  font-size: 14px;
}

.tama単oimg img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
}
@media screen and (max-width: 375px) {
  .card {
    margin-bottom: 20px;
    border: 1px solid #f50057;
    width: 150px;
    height: 220px;
    /* border-radius: 8px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.336);
  }

  .tama単oimg {
    /* border-top: 1px solid black; */
    border-bottom: 1px solid gray;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.603);
    display: inline-block;
    background-color: white;
    height: 150px;
    width: 100%;
  }
}

@media screen and (max-width: 300px) {
  .card {
    margin-bottom: 20px;
    border: 1px solid #f50057;
    width: 130px;
    height: 220px;
    /* border-radius: 8px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.336);
  }

  .tama単oimg {
    /* border-top: 1px solid black; */
    border-bottom: 1px solid gray;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.603);
    display: inline-block;
    background-color: white;
    height: 130px;
    width: 100%;
  }
}
