.margin {
  margin-top: 50px;
  /* display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%; */
}

.home {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  gap: 180px;
}

.filtrosWrapper {
  min-width: 80px;
  max-width: 80px;
  margin-left: 20px;
  width: 20%;
}

.cardContainer {
  width: 100%;
  margin-right: 40px; /* En lugar de margin-right */
}
