.margin {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 98%;
  /* gap: 100px; */
}
