.margin {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 98%;
  /* gap: 100px; */
}

/* .filtrosWrapper {
  min-width: 80px;
  max-width: 80px;
  margin-left: 20px;
  width: 10%;
}

.cardContainer {
  width: 100%;
  margin-right: 100px;
} */
