.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 50px;
}

.block {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 98%;
  padding: 10px;
  gap: 10px;
  margin-top: 30px;
}

.imgarma,
.imggym,
.imgmoda {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #f50057;
  max-width: 100%; /* Ajustar el ancho máximo al 100% del contenedor padre */
  height: auto; /* Mantener la relación de aspecto de la imagen */
  object-fit: cover; /* Cubrir el área asignada sin distorsionar la relación de aspecto */
  max-height: 350px; /* Establecer una altura máxima si es necesario */
}
