.filtros {
  position: fixed;
  margin-top: 50px;
}

.filtPrenda {
  margin-bottom: 20px; /* Agrega espacio abajo del primer filtro */
}

.filtGen {
  margin-top: 20px; /* Agrega espacio arriba del segundo filtro */
}

.colorTalle {
  color: #757072;
}
